@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 4.3rem; 
}

:root {
    --color1: rgb(30, 30, 30);
    --color2: rgb(165, 201, 202);
    --color3: rgb(255,255,255);
    --h-font-size: 1.5rem
}

body {
    background-color: var(--color3);
}

/* NAVBAR */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.6rem 8%;
    background-color: var(--color1);
    opacity: 0.95;
    position: fixed;
    width: 100%;
}

header :is(li, a, button) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

header button {
    padding: 0.75rem 1rem;
    background-color: rgb(165, 201, 202, 1);
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: all o.3s ease 0s;
    color: rgb(30, 30, 30);
}

header button:hover {
    background-color: rgb(165, 201, 202, 0.8);
}

.logo {
    width: 12rem;
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 1.25rem;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--color2);
}



/* WELCOME */
#welcome-section{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    width: 100%;
    place-items: center;

}

#welcome-section img {
    max-width: 60rem;
}

#intro-message{
    padding: 0% 10% 0 0%;
}

#intro-message h1{
    letter-spacing: 0.4rem;
    color: var(--color2);
    font-size: 2rem;
}

#intro-message p{
    font-size: 1.2rem;
    color: var(--color1);
}

#intro-message :is(h1, p){
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0.5rem;
    
}


/* Projects start */

#projects {
    background-color: var(--color1);
}

#projects h1{
    color: var(--color3);
    font-size: var(--h-font-size);
    font-family: 'Montserrat', sans-serif;;

}
.project-images * {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    place-items: center;
    gap: 2rem;
}

#projects img {
    width: 30rem;
    min-width: 300px;
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 0.5rem;
    }
    header {
        height: 2rem;
    }
    .logo {
        height: 2rem;
    }

}